/*first-variable*/
@import "color.scss";
@import "mixin.scss";
@import "animation.scss";

$all-font-family: Microsoft JhengHei;

.clearfix {
    display: block;
    
    content: "";
    clear: both;
  }

.flex-mode-center{
  display: flex;
  justify-content: center;
}
.flex-direction-column{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
%flex-direction-column{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.flex-direction-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
%flex-direction-row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}
.flex-mode-align-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-content: center;
}
.box{
  display: flex;
}
 %box{
  display: flex;
}

%container-set{
    max-width: 1281px;
    width: 100%;
    height: 6553px;
}
%before{
  content:"";
  position: absolute;
}
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a{
    text-decoration:none;
    cursor: pointer;
  }
  
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  html {
    width: 100%;
    background-color: $color-Html-bg;
    height: 100%;
    overflow: auto;
    // overflow: hidden;
  }
  
  body {
    line-height: 1;
  }
  
  p, button, input ,a, div{
    font-family: Microsoft JhengHei;
  }
  a{
    color: $a-color;
  }
  ul, li, body {
    margin: 0;
    padding: 0;
  }
  
  ul, li {
    list-style-type: none;
  }

  button{
    cursor: pointer;
  }
  button, input{
    outline: none;
  }

  .col-4{
    width: 33.33%;
  }
  .col-8{
    width: 66.66%;
  }
  .col-4,.col-8{
    margin:20px 0;
  }
  
  %basic-font {
    font-weight: bolder;
  }
h1{
  font-size: 40px;
}
  main{
    width: 100%;
    height: 6553px;
    min-height: 6553px;
    @extend %flex-direction-column ;
    align-items: center;
  }


  .header{ z-index: 5;
    max-width: 1200px; width: 100%; height: 100px; position: fixed; top: 20px; left: 50%; transform:translate(-50%,0%); @extend %flex-direction-row; justify-content: center;
    .box{ @extend %flex-direction-row; width: 83%; justify-content: center; align-items: center; height: 141px; position: relative; overflow: visible;
      & .title-bg{ overflow: visible;
        width: 0; height: 0; border-style: solid; border-width: 0 26px 26px 0; border-color: transparent #987e62 transparent transparent; position: absolute; left: 0;bottom: 8.6px;}
      & .title-bg:after{content:""; width: 107px; height: 72px; position: absolute; left: -81px; top:-35px; background: url(../images/title-bg.png)no-repeat; z-index: -1;}
      & .title-bg2{
          width: 0; height: 0; border-style: solid; border-width: 26px 26px 0 0; border-color: #987e62 transparent transparent transparent; position: absolute; right:0; bottom: 8.6px;}
      & .title-bg2:after{content:""; width: 107px; height: 72px; position: absolute; right:-107px; top:-60px; background: url(../images/title-bg.png)no-repeat; z-index: -1; transform: rotateY(180deg);}
    }//.box
    .box:after{content:""; width: 100%; height: 50%;  position: absolute; top: 35px; left: 0; background: url(../images/title.png)no-repeat; background-size: cover;}
    ul{@extend %flex-direction-row; width: 90%; height: 100%; justify-content: space-between; align-items: center;}
    .logo{background: url(../images/logo.png)no-repeat; background-size: cover; width: 142px; height: 141px; z-index: 7;}
    // .icon{@include basic-bg(../images/icon.png);}
    li{@extend %basic-font; font-size: $title-font-size;z-index: 7; cursor: pointer;}

  }
  .container {
  @extend %container-set;  position: relative;  -webkit-box-sizing: border-box; box-sizing: border-box;@extend %flex-direction-column; flex-wrap: wrap;
    margin-top: 161px; justify-content: flex-start;
   } //container

   .L-start{background-color: #007196; transform: scale(1.2);}

   nav{position: fixed; max-width: 1281px; top: 400px; left: 50%; transform: translateX(-50%); width: 100%; height: 160px; 
       z-index: 5;
      .left-point,.right-link{position: absolute; @extend %flex-direction-column;}
      .left-point{justify-content: space-around; align-items: center; width: 16px; height: 100%; left: 20px; 
        .L1,.L2,.L3,.L4,.L5{background-color: none; width: 12px; height: 12px; border-radius: 100px;  border: 1px solid white; cursor: pointer;
         box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5); transition: all 0.3s ease-in-out;}//L1~L5
         .L1:active,.L2:active,.L3:active,.L4:active,.L5:active{transform: scale(0.9);}
      }//left
      .right-link{justify-content: space-between; align-items: center; width: 100px; height: 100%; right: 0px; 
       .fb,.ig{width: 100%; height: 70px; background-color: #fff; background: url(../images/right-link.png); cursor: pointer;}
       .ig{background-position: 0 -70px;}
      }//right
    }//nav


  %stage1-bugger{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  %stage1-text{
    position: absolute;
  }
   //stage1
  .stage1{
    width: 100%; height: 834px; display: flex; position: relative;
    .bugger{width: 636px; height: 542px; background: url(../images/stage1/bugger.png)no-repeat; background-size: cover; @extend %stage1-bugger; transform: translateX(0%); bottom: 17%; top: -85%; z-index: 2;
      animation: stage1-bu 2s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;
    }//bugger
    .bugger-s{width: 633px; height: 177px; background: url(../images/stage1/bugger-s.png)no-repeat; background-size: cover; @extend %stage1-bugger; bottom: 13%;  z-index: 1;
      animation: stage1-sh 1.6s 1 cubic-bezier(0.85, 1.09, 1, 1) forwards;  
    }//bugger-s
    .text1, .text2, .text3, .text4, .text5
    {@extend %stage1-text; opacity: 0;}
    .text1{width: 298px; height: 156px; background: url(../images/stage1/text1.png)no-repeat; top: -18%; left: -39%; 
      animation: text1 1s 2s 1 ease-in-out forwards;}//text1

    .text2{width: 90px; height: 21px; background: url(../images/stage1/atext1.png)no-repeat; top: 17%; left: -28%; overflow: visible;
      animation: text1 1s 2.4s 1 ease-in-out forwards;}//text2
    .text2:after{@extend %before; width: 114px; height: 43px; top: 32px; left: 72px; background: url(../images/stage1/arrow1.png)no-repeat;
      transform: translate(-20px, -8px); 
      animation: text2-af 0.4s 2.6s 1 ease-in-out forwards;}//text2-af

    .text3{width: 221px; height: 23px; background: url(../images/stage1/atext2.png)no-repeat; top: 5%; right:-29%; overflow: visible;
      animation: text1 1s 2.8s 1 ease-in-out forwards;}//text3
    .text3:after{@extend %before; width: 112px; height: 43px; top: 42px; left: -36px; background: url(../images/stage1/arrow2.png)no-repeat;
      animation: text3-af 0.4s 3s 1 ease-in-out forwards;}//text3-af
    .text3:before{@extend %before; width: 48px; height: 53px; top: -55px; right: -30px; background: url(../images/stage1/atext2-ef.png)no-repeat;
      transform: translate(-20px, 10px) scale(0.8) rotate(-45deg);
      animation: text3-be 0.4s 3.1s 1 ease-in-out forwards;}//text3-be

    .text4{width: 178px; height: 24px; background: url(../images/stage1/atext3.png)no-repeat; bottom: 47%; left:-38%; overflow: visible;
      animation: text1 1s 3.5s 1 ease-in-out forwards;  }//text4
    .text4:after{@extend %before; width: 118px; height: 38px; top: 17px; left: 151px; background: url(../images/stage1/arrow3.png)no-repeat;
      transform: translate(-20px, 8px);
      animation: text4-af 0.4s 3.7s 1 ease-in-out forwards;}//text4-af
    .text4:before{@extend %before; width: 39px; height: 37px; top: -22px; left:-40px ; background: url(../images/stage1/atext3-ef.png)no-repeat;
      transform: translate(20px, 5px) scale(0.8) rotate(-20deg);
      animation: text4-be 0.4s 3.9s 1 ease-in-out forwards;}//text4-be

    .text5{width: 109px; height: 24px; background: url(../images/stage1/atext4.png)no-repeat; top: 50%; right: -20%; overflow: visible;
      animation: text1 1s 4.1s 1 ease-in-out forwards;}//text5
    .text5:after{@extend %before; width: 112px; height: 43px; top: 16px; left: -83px; background: url(../images/stage1/arrow2.png)no-repeat;
      transform: rotate(0deg) translate(20px, 18px);
      animation: text5-af 0.4s 4.3s 1 ease-in-out forwards;}//text5-af
    .text1, .text2, .text3, .text4, .text5
    {background-size: cover;}
    
  }//stage1

  .stage2{
    @extend %flex-direction-column; margin-top: 60px; width: 100%; height: 1150px; align-items: center; justify-content: space-between; position: relative;
    .title{margin-bottom: 100px; width: 416px; height: 74px; background: url(../images/stage2/title.png)no-repeat;}
    .box{@extend %flex-direction-row; justify-content: space-between; align-items: center; width: 1032px; height: 975px; 
      .content{width: 788px; height: 975px;  position: relative;
        .p1,.p2,.p3{position: relative; cursor: pointer;}
        .p1{width: 788px; height: 975px;background: url(../images/stage2/content.png)no-repeat;}
        .p2{width: 788px; height: 975px;background: url(../images/stage2/content.png)no-repeat;}
        .p3{width: 788px; height: 975px;background: url(../images/stage2/content.png)no-repeat;}
      }//content
      .left-arrow,.right-arrow{background: url(../images/stage2/arrows.png)no-repeat; width: 80px; height: 80px; cursor: pointer;}
      .left-arrow{background-position: 0 0;}
      .right-arrow{background-position: -80px 0;}
    }//box
  }//.stage2

  .stage3{
    @extend %flex-direction-column; margin-top: 150px; width: 100%; height: 1290px; align-items: center; justify-content: space-between; position: relative;
    .title{ width: 416px; height: 74px; background: url(../images/stage3/title.png)no-repeat;}
    .box{@extend %flex-direction-row; justify-content: space-between; align-items: center; width: 682px; height: 512px;  position: relative;
      .content{width: 100%; height: 100%;  position: relative;
        .p1,.p2,.p3{position: relative; cursor: pointer;}
        .p1{width: 682px; height: 512px;background: url(../images/stage3/content.png)no-repeat;}
        .p2{width: 682px; height: 512px;background: url(../images/stage3/content.png)no-repeat;}
        .p3{width: 682px; height: 512px;background: url(../images/stage3/content.png)no-repeat;}
      }//content
      .left-arrow,.right-arrow{ width: 40px; height: 60px; cursor: pointer;position: absolute; z-index: 1; background-color: white; opacity: 0.5; transition: all transform 0.3s ease-in-out;
        span{background-color: black; width: 16px; height: 5px; display: flex; position: absolute;}
      }//left,right
      .left-arrow{left: 0;border-radius: 0px 50px 50px 0;
        span{left: 10px;border-radius: 100px 0 0 100px;}
        span:nth-child(1){transform: rotate(-45deg) skew(-45deg);top: 22px;}
        span:nth-child(2){transform: rotate(45deg) skew(45deg);top: 33px;}
      }//left
      .right-arrow{right: 0;border-radius: 50px 0 0 50px;
        span{left: 14px;border-radius: 0px 100px 100px 0px;}
        span:nth-child(1){transform: rotate(45deg) skew(45deg);top: 22px;}
        span:nth-child(2){transform: rotate(-45deg) skew(-45deg);top: 33px;}
      }//right

      .left-arrow:hover,.right-arrow:hover{opacity:1;}
      .left-arrow:active,.right-arrow:active{transform:scale(0.9);}
    }//box
    .about-us{width: 682px;}
    h1,p{}
    h1{ font-family: $all-font-family; margin-bottom: 40px;}
    p{font-size: 21px; line-height: 28px;white-space: pre-line; margin-bottom: 30px;}
    p:last-child{margin: 0;}
    br{height: 30px;}
  }//.stage3

  .stage4{@extend %flex-direction-column; margin-top: 150px; height: 784px; justify-content: space-between; align-items: center; 
    .title{ width: 416px; height: 74px; background: url(../images/stage4/title.png)no-repeat; margin-bottom: 100px;}
    .box{@extend %flex-direction-column; justify-content: space-between; align-items: center; height: 610px;
      .subtitle,.content{@extend %flex-direction-column; justify-content: space-between; text-align: center;}
      .subtitle{ height: 80px; }
      .content{height: 144px; }
      .map{width: 457px; height: 311px; background: url(../images/stage4/map.png)no-repeat;}
      a{color: black; text-decoration:underline;}
    }//box
    p{font-size: 21px; line-height: 28px;}
  }//stage4

  .stage5{@extend %flex-direction-column; margin-top: 150px; width: 100%; height: 1527px; justify-content: space-between; align-items: center;
    .title{ width: 416px; height: 74px; background: url(../images/stage5/title.png)no-repeat; margin-bottom: 115px;}
    .box{@extend %flex-direction-row; justify-content: space-between; align-content: space-between; flex-wrap: wrap; width: 660px; height: 1343px; 
     .item{@extend %flex-direction-column ; width: 252px; height: 420px; align-items: center; justify-content: flex-start; position: relative;}
     .item:nth-child(1){
       .img{width: 252px; height: 158px; background: url(../images/stage5/item1.png)no-repeat; margin: 35px 0 60px 0;}
      
      }//item1
      .item:nth-child(2) .img,.item:nth-child(3) .img,.item:nth-child(4) .img,.item:nth-child(5) .img,.item:nth-child(6) .img{width: 200px; height: 200px; margin-bottom: 50px;}
      .item:nth-child(2){.img{background: url(../images/stage5/item2.png)no-repeat;}}//item1
      .item:nth-child(3){.img{background: url(../images/stage5/item3.png)no-repeat;}}//item1
      .item:nth-child(4){.img{background: url(../images/stage5/item4.png)no-repeat;}}//item1
      .item:nth-child(5){.img{background: url(../images/stage5/item5.png)no-repeat;}}//item1
      .item:nth-child(6){.img{background: url(../images/stage5/item6.png)no-repeat;}}//item1
    }//box
    p{font-size: 21px; line-height: 28px; display: flex; position: absolute; left: 0; top: 250px;}
  }//stage5


   .footer{
     position: absolute;
     bottom: 0;
     left: 0;
   }
   /*just BG*/

   .BG{@extend %container-set; z-index: -999; background: url(../images/BG.jpg)no-repeat; background-size: cover; background-position:center center; position: absolute; left: 0; top: -161px;}

  @media screen and (max-width:320px){
    .container{max-width: 320px;}
  }